body {
    background-image: url('https://media.gettyimages.com/id/1145613646/pt/vídeo/smooth-clean-and-abstract-looped-gradient-background-4k-video-for-underwater-ocean-sky-clouds.jpg?s=640x640&k=20&c=wjSysmubDaVe5StH14Jr5_LBzDPspp5wIYbP6i5vdgg=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }