body {
    background-image: url(' https://wallpapercave.com/dwp1x/wp2100748.jpg '); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

body {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}
