body {
    background-image: url('https://wallpaperset.com/w/full/1/a/3/8568.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  body {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
  }
