body {
    background-image: url('https://www.desktopbackground.org/download/1680x1050/2010/08/11/62339_top-simple-yellow-gold-wallpaper-images-for-pinterest_1920x1200_h.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  body {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
  }
